@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

@font-face {
  font-family: 'Google Sans';
  src: url(../fonts/GoogleSans-Regular.ttf),
  url(../fonts/GoogleSans-Regular.woff),
  url(../fonts/GoogleSans-Regular.woff2);
  font-weight: 400;
  font-style: normal;
}
